<app-header></app-header>
<app-home></app-home>
<app-service></app-service>
<app-about></app-about>
<app-gallery></app-gallery>
<app-price></app-price>
<app-review></app-review>
<app-contact></app-contact>
<app-footer></app-footer>

<div class="theme-toggler">

  <div class="toggle-btn" (click)="click()">
      <i class="fas fa-cog"></i>
  </div>

  <h3>choose color</h3>

  <div class="buttons" (click)="onclick()">
      <div class="theme-btn" style="background: #3867d6;" ></div>
      <div class="theme-btn" style="background: #f7b731;"></div>
      <div class="theme-btn" style="background: #ff0033;"></div>
      <div class="theme-btn" style="background: #20bf6b;"></div>
      <div class="theme-btn" style="background: #fa8231;"></div>
      <div class="theme-btn" style="background: #FC427B;"></div>
  </div>

</div>
