<p>about works!</p>
<section class="about" id="about">

    <h1 class="heading"><span>about</span> us </h1>
    
    <div class="row">
    
        <div class="image">
            <img src="../../assets/images/about-img.jpg" alt="">
        </div>
    
        <div class="content">
            <h3>we will give a very spex`cial celebration for you</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam labore fugiat ut esse perferendis perspiciatis provident dolores fuga in facilis culpa possimus, quia praesentium itaque, sapiente quasi harum rem asperiores.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat vero expedita incidunt provident quibusdam aut odit, numquam nesciunt similique nisi.</p>
            <a href="#" class="btn">contact us</a>
        </div>
    
    </div>
    
    </section>